body {
  background: blanchedalmond;
  border: 2px solid blue;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5em;
  min-height: 100vh;
}

.header {
  border: 2px solid red;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 0.5em;
}

.body {
  border: 2px solid red;
  width: 100%;
  flex-grow: 4;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.aside {
  border: 2px solid red;
  width: 100%;
  flex-grow: 1;
  margin-top: 0.5em;
}

@media (min-width: 650px) {

  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .header {
    width: 100%;
  }

  .body {
    width: 70%;
    margin-right: 0.5em;
  }

  .aside {
    width: 20%;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
  }
  
}